/* <!-- YT CSS D.Gray Lesson 20 Variables and Dark Mode --> */
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || Variables */
:root {
    /* create variables used y the root call by the var function */

    /* FONT */
    --FF: "Nunito", sans-serif;
    --FS: 1.5rem;
    --FS-XL: 3rem;

    /* COLOR */
    --BGCOLOR: #475569;
    /* --ALTBGCOLOR: blue; */
    --ALT-BGCOLOR: #1E293B;
    --RADIAL-COLOR: whitesmoke;
    --LIGHT-COLOR: whitesmoke;
    --DARK-COLOR: #000;

    /* SQUARE */
    --SQUARE-BGCOLOR: papayawhip;
    --SQUARE-SIZE: max(150px, 20vw);


    /* GENERAL */
    --PADDING: 0.5rem;
    --SHADOWS: 0 6px 5px -5px var(--DARK-COLOR);
    /* box-shadow: x-offset y-offset blur-value spread-value color; */
    --BORDERS: 2px solid var(--DARK-COLOR);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --BGCOLOR: #000;
        --ALT-BGCOLOR: #333;
        --RADIAL-COLOR: rgb(217, 217, 217);
        --SQUARE-BGCOLOR: purple;
    }
} */

@media (prefers-color-scheme: light) {
    :root {
        --BGCOLOR: #000;
        --ALT-BGCOLOR: #333;
        --RADIAL-COLOR: rgb(217, 217, 217);
        --SQUARE-BGCOLOR: purple;
    }
}

/* || GENERAL STYLES */
body {
    font: var(--FS) var(--FF);
    /* font: 1.5rem "Nunito", sans-serif; */
    min-height: 100vh;

    /* fallback background color */
    background-color: var(--BGCOLOR);
    /* background-color: #475569; */
    background-image: radial-gradient(var(--RADIAL-COLOR), var(--BGCOLOR));
    /* background-image: radial-gradient(whitesmoke, #475569); */
    display: flex;
    flex-direction: column;
}

.h1carddesign {
    font-size: 1.3rem;
    text-align: center;
    margin: 0px 0 0px 0;
    padding: 5px;
    background-color: rgb(43, 173, 199);
    border: 1px solid var(--DARK-COLOR);
    /* border: 1px solid black; */
}

/* original */
/* header,
nav,
main,
footer { */

header,
nav,
footer {
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}

header,
footer {
    position: sticky;
    background-color: var(--ALTBGCOLOR);
    /* background-color: #1E293B; */
    color: var(--LIGHT-COLOR);
    /* color: whitesmoke; */
}

header {
    top: 0;
}

nav {
    background-color: var(--LIGHT-COLOR);
    /* background-color: whitesmoke; */
    color: var(--DARK-COLOR);
    /* color: #000; */
    padding: var(--PADDING);
    /* padding: 0.5rem; */

    border-bottom: var(--BORDERS);

    /* border-bottom: 2px solid var(--DARK-COLOR); */

    /* border-bottom: 2px solid #000; */

    box-shadow: var(--SHADOWS);
    /* box-shadow: 0 6px 5px -5px var(--DARK-COLOR); */

    box-shadow: 0 6px 5px -5px var(--DARK-COLOR);
    /* box-shadow: x-offset y-offset blur-value spread-value color; */
}

main {
    flex-grow: 1;

    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    gap: min(4vw, 15px);
}

/* || FEATURES */

.square-highlight {
    --SQUARE-BGCOLOR: cornflowerblue;
}

.square {
    background-color: var(--SQUARE-BGCOLOR);
    width: var(--SQUARE-SIZE);
    height: var(--SQUARE-SIZE);
    border: var(--BORDERS);
    border-radius: 15px;
    display: grid;
    place-content: center;
    font-size: var(--FS-XL);
    box-shadow: var(--SHADOWS);

}

footer {
    bottom: 0;
}